:root{
    --primary-color: #29335C;
    --light-primary-color: #3f4f8d;
    --lightest-color: #e9ebd5;
    --secondary-color: #774936;
    --light-secondary-color: #C08972;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;

}

body{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: var(--lightest-color);
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--lightest-color);
}

#search-container{
    display:flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;

}

header > h2 > i{
    margin-right: 0.5rem;
}
.movie-name-wrapper{
    width:65%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}
.movie-year-wrapper{
    /* width:30%; */
       display: flex;
    align-items: center;
}
#search-button{
    width:5%;

}

.movie-year-wrapper > input{
    max-width:5rem;
}
.movie-name-wrapper > input{
    width:100%;
}

.movie-name-wrapper > input, .movie-year-wrapper > input{
    padding: 0.3rem 0.1rem;
    margin: 0 0.5rem;
    border: none;
    border-radius: 0.3rem;
    outline: none;
    font-weight: bold;
}

.movie-name-wrapper > label, .movie-year-wrapper > label{
    font-weight: bold;
}

#search-button{
   all:unset;
   padding: 0.3rem;
   border: 2px solid var(--lightest-color);
   border-radius: 10px;
}

#search-button:focus, #search-button:hover{
    background-color: var(--light-primary-color);

}

main{
    text-align: center;
    padding: 2rem 0;
    flex-grow: 1;
    background-color: var(--lightest-color);
    color: var(--primary-color);

}

#movie-list{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    gap: 2rem;
    margin-top: 1rem;

}

#movie-list article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#movie-list img{
    margin-bottom: 0.5rem;
    border-radius: 10px;
 
}

.remove-button{
    border: 3px solid var(--secondary-color);
padding: 0.3rem 0;
width: 100%;
border-radius: 10px;
font-weight: bold;
box-shadow: 1px 1px 10px #000;
color:var(--secondary-color)
}
.remove-button:focus,
.remove-button:hover {
background-color: var(--light-secondary-color);
color: var(--lightest-color);
}